project_prefix                                      = "${PROJECT_PREFIX}"
organization_id                                     = "${ORGANIZATION_ID}"
region                                              = "${REGION}"
billing_account                                     = "${BILLING_ACCOUNT}"
terraform_base_bucket_name                          = "${TERRAFORM_BASE_BUCKET_NAME}"
terraform_base_bucket_prefix                        = "${TERRAFORM_BASE_BUCKET_PREFIX}"
cloud_build_github_owner                            = "${CLOUD_BUILD_GITHUB_OWNER}"
cloud_build_repository_name                         = "${CLOUD_BUILD_REPOSITORY_NAME}"
cloud_build_push_branch_pattern                     = "${CLOUD_BUILD_PUSH_BRANCH_PATTERN}"
frontend_hostname                                   = "${FRONTEND_HOSTNAME}"
frontend_zone_dns_name                              = "${FRONTEND_ZONE_DNS_NAME}"
acm_syncrepo                                        = "${ACM_SYNCREPO}"
acm_syncbranch                                      = "${ACM_SYNCBRANCH}"
in_scope_cluster                                    = "${IN_SCOPE_CLUSTER}"
out_of_scope_cluster                                = "${OUT_OF_SCOPE_CLUSTER}"
asm_path                                            = "${ASM_PATH}"
src_path                                            = "${SRC_PATH}"
