project_prefix                                      = "${PROJECT_PREFIX}"
billing_account                                     = "${BILLING_ACCOUNT}"
organization_id                                     = "${ORGANIZATION_ID}"
region                                              = "${REGION}"
